/* .placeholder {
    background-color: red;
}
.anotherClass {
    background-color: greenyellow;
} */

/* Master styles */
body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr; /*1 fractional unit - 100%  */
}

/* Nav styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between; 
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s; /* we animate color and border=botom */
}

/*hover for the link */
.nav-link-wrapper:hover { 
    border-bottom: 1px solid black;
} 

/*hover for div itself */
.nav-link-wrapper:hover { 
    border-bottom: 1px solid black;
} 

/* Portfolio styles */
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    /* width: 33rem; */
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

/* need to download logos */
.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
    font-weight: 600;
}

/* needs to be more specific with selector */
.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}
 
.img-darken {
    transition: 1s;
    filter: brightness(10%);
}